* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40vh;
    transition: margin-top 1s ease-in-out;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weather-icon-element {
    font-size: 80px;
}

.input-box {
    margin: 1rem 0;
}

.weather-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}