* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40vh;
    transition: margin-top 1s ease-in-out;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weather-icon-element {
    font-size: 80px;
}

.input-box {
    margin: 1rem 0;
}

.weather-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conditions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-bar {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
    display: none;
}